body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
   
    
}
.loading
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#58547e;
    z-index:555555555555555555555;
    
}
.loading-icon p
{
    color: white;
    font-size: 35px;
    margin:auto;
    font-style: italic;
    font-weight: 700;
}
.bg
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 43, 44 ,.7);
    z-index:5;
    display: none;
}
.btn-info
{
    background-color: #58547e !important ;
}
.main-color
{
    color:#01cfbe !important;
}
.bg-color1
{
    background-color: #01cfbe;
}
.bg-color2
{
    background-color: #58547e;
}
.bg-color3 {
    background-color: #f5f5f9cb;
}
.main-color1
{
    color: #58547e;
}
/*------------nav Bar----------------------*/
.btn-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999999999;
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: teal;
}
.navbar
{
    font-weight: 600;
    font-size: 18px;
    background-size:100%;
    background-position: center;
    border-bottom: 3px solid rgba(36, 179, 164,.7);
    

}
#main-nav
{
    background-color: #01cfbe;
}
.brand{
    
    font-weight: 800 !important;
    font-style: italic;
}
.nav-link
{
   
    padding: 7px 13px !important;
    font-size: bolder !important;
    color: black  !important;
    
}
.active{
    border:5% solid cyan;
    background-color: cyan;
    border-radius: 20%;
}

#signUp
{
    padding: 0 5px !important;
    color: blue !important;
}

/*---------logIn Collapse---------------------*/
.carsuol-login
{
    width: 300px;
    height: 100vh;
    background-color: rgba(88, 83, 109);
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 555555555;
}
.close{cursor: pointer;}
.icon-links a 
{

    color: white !important;
    padding: 0 8px;
    transition: color 1s;
}
.icon-links a:hover
{
    color: brown !important;
}
.user-info
{
    margin: 0;
    padding: 0;
}
.user-info i
{
    position: relative;
    bottom: 28px;  
}
/*----------All About User Inputs--------------*/
.user-info input
{
    padding-left: 40px;
    position: relative;
    border:none !important;
    border-style: none;
    background-color: white !important;

}
.password-icon
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.eye{
    padding-right:15px;
    cursor: pointer;
    transition: 1s color;
}
.eye:hover{
    color: brown;
}
div.line
{
    width: 100%;
    border-bottom: 2px solid white;
    padding: 0;
    margin: 0;  
}
.alert
{
    display: none;
}

/*------------Home Section-------------*/
#home
{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-image: url(../imges/home-banner-bg.jpg);
    background-size: cover;
    
}
.bg-img
{
    background-image: url(../imges/symptoms-bg.jpg);
    background-size: cover;
}
/*---------------popular symPotoms Section----------- */

.header
{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    color:#58547e;
    padding: 35px 0;
    margin: 10px 0;
}
/*----------number of Cornonavrius Cases Section------------*/
.img
{
    padding: 15px 0;
}
.number 
{
    font-size: 20px;
    color: #58547e;
    font-weight: 700;
}
.number-1::after
{
    content: 'Death';
    font-size: 16px;
    color: grey;
    font-weight: 600;
}
.number-2::after
{
    content: 'Recoverd';
    font-size: 16px;
    color: grey;
    font-weight: 600;
}
.number-3::after
{
    content: 'Cases';
    font-size: 16px;
    color: grey;
    font-weight: 600;
}
.number-4::after
{
    content: 'suspected';
    font-size: 16px;
    color: grey;
    font-weight: 600;
}

#NtritionHealth
{
    background-color:#58547e;
}
/*--------------Get in touch-------------*/
.user-massage h2
{
    font-size: 38px;
    padding: 20px 10px;
}
.about p
{
    font-size: 18px;
}
.discover-links a
{
    display: block;
    padding: 6px 0;
    padding-left: 60px;
}
.discover-links h2 {
    margin-top: 45px !important;
}

.about-content h2 {
    margin-top: 45px !important;
}

.contacts-icon i {
    font-size: 20px;
}
/*-----------Footrs icons-----------*/
#footer {
    background-color: #b1afaf70 !important;
    padding: 10px;
}

#footer img {
    width: 15%;
    margin-left: 30px;
}
.social-icon
{
    width: 43px;
    height: 43px;
    transition: 1s;
    font-size: 25px;
}
.social-icon a i
{
    color: gray;

}
.social-icon:hover i
{
    color: brown;
}

.social-icon a
{
   text-decoration: none;
   color: red;
   padding: 10px;
   
}

/******************** Popular Symptoms styling ******************************/

.health-img img {
    width: 80%;
    margin-left: 25%;
}

.about-health {
    margin-left: 10%;
}

.health-info p {
    font-size: 20px;
}

.symptoms {
    padding-left: 7%;
}

.symptoms ul {
    font-size: 20px;
    margin-left: 10px;
}

.treatment {
    padding-left: 5%;
}

.treatment ul {
    font-size: 20px;
    margin-left: 10px;
}

.symptom {
    padding: 2% 7% 2% 7%;
}


/***************************** Symptoms Checker Styling *****************************/

#checkerHome {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-image: url(../imges/symptombg.png);
    width: auto;
    height: 90vh;
    position: relative;
    margin-top: 70px;
    background-size: cover;
}

.bg-layer {
    background-color: rgba(9, 2, 71, 0.788);
    position: absolute;
}

#checkerHome .container h5 {
    font: 700 18px "Quicksand", sans-serif;
}

#checkerHome .container h2 {
    font: 700 40px "Quicksand", sans-serif;
}

#checkerHome .container-fluid h3 {
    font: 700 30px "Quicksand", sans-serif;
}

#checkerHome .container-fluid p {
    color: #c4c0e4;
    margin-bottom: 0px;
    line-height: 30px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.media {
    margin-top: 20px;
}

.media .media-icon {
    font-family: 'Linearicons' !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    font-size: 35px;
}

.media .media-content h4 {
    font: 700 20px "Quicksand", sans-serif;
}

.media .media-content p {
    color: #c4c0e4;
    line-height: 18px;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin-top: -10px;
}

.checker-form {
    border-radius: 10px;
    background-color: rgba(88, 84, 126, 0.49);
    box-shadow: 0px 10px 40px 0px #33304e;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 54px;
    padding-right: 30px;
}

.form-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    padding-left: 0px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    width: 100%;
    line-height: 22px;
    cursor: text;
    font-size: 20px;
}

.form-input input {
    padding-left: 10px;
    width: 48%;
    font: 500 14px "Quicksand", sans-serif;
    padding-top: 10px;
    color: #c4c0e4;
    background: transparent;
    border: 0px;
    box-shadow: none;
    outline: none;
    padding: 0 6px;
    margin: 0;
    max-width: inherit;
}

.gender h5 {
    font: 500 15px "Quicksand", sans-serif;
}

.check-icon {
    font-family: 'Linearicons' !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    font-size: 40px;
    margin-top: 10px;
    color: #fff;
}

.form-check {
    display: inline-block !important;
    margin: 10px 10px !important;
}

.btn-set {
    margin-left: 30%;
    color: white;
    padding: 10px 20px;
}

#about .container h3 {
    font: 700 30px "Quicksand", sans-serif;
    margin-top: 100px;
}

#about .container h6 {
    color: #58547e;
    line-height: 18px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin: 15px 0px 20px 0px;
    font-style: italic;
}

#about .container p {
    font: 400 16px/28px "Quicksand", sans-serif;
    color: #58547e;
    margin-top: -3px;
}

#nutrition h2 {
    font: 800 50px "Quicksand", sans-serif;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#nutrition {
    padding: 1% 0 7% 0;
    margin-top: 50px;
}

#corona {
    padding-bottom: 7%;
}

#corona h2 {
    font: 700 40px "Quicksand", sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
}

#corona h3 {
    font: 700 30px "Quicksand", sans-serif;
}

#corona .avoid {
    color: rgba(224, 13, 48, 0.932);
}




body
{
    font-family: 'segoe ui light';
}
.item
{
    margin-top: 30px;
    cursor: pointer;
}
.item-caption
{
    bottom: 20px;
    width: 80%;
    left: 10%;
    background-color: #fff;
    padding: 10px;
}

#lightbox-container
{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#lightbox-item
{
    width: 45%;
    height: 500px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#closeBtn
{
    position: absolute;
    top: 20px;
    right: 20px;
}
.lightbox-item i 
{
    font-size: 20px;
    cursor: pointer;
}
#nextBtn 
{
    margin-right: 20px;
}
#prevBtn 
{
    margin-left: 20px;
}
